<div>
  {{#each listItems}}

    <p>
      <span class='fw-bold text-primary'>{{this.name}}</span>
      <span style='color:brown;'>{{this.date}}</span>
      :
      <span class='fst-italic text-success'>{{this.message}}</span></p>

  {{/each}}
</div>